input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 2px solid #192c57;
}

input[type=password]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 2px solid #192c57;
}

.container {
    margin-top: 5%;
    margin-bottom: 5%; 
}
.texto{
    font-size: 250%;
}

@media only screen and (max-width: 450px) {
    .texto {
        font-size: 200%;
    }
    #imgcenter{
        margin-left: 25%;
    }
    .container {
        margin-top: 15%;
    }

    .btn {
        margin-top: 5%;
        margin-left: 5%;
        margin-bottom: 10%;
    }
}
#btnRegistrar {
    background-color: #192c57
}

#btnRegistrar:hover {
    background-color: #2563f1
}

label {
    margin-right: 3%;
}

.sexo {
    display: none;
}

.image-upload>input {
    display: none;
}

.image-upload img {
    height: 150px;
    cursor: pointer;
}

.imagenper{
    height: 150px;
    width: auto;
}

#navblue {
    background-color: #192c57;
}