input[type=text]:not(.browser-default):focus:not([readonly]){
    border-bottom: 2px solid #192c57;
}
input[type=password]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 2px solid #192c57;
}
label {
    float: right;
    text-align: right;
}

@media only screen and (min-width: 401px) and (max-width: 4000px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 50px;
    }
    .container {
        margin-top: 8%;
    }
    .logo {
        margin-top: 7.5px;
        margin-left: 25px;
        width: 10%;
        height: auto;
    }
}
@media only screen and (min-width: 0px) and (max-width: 400px) {
    .container {
        margin-top: 25%;
            margin-right: auto;
            margin-left: auto;
            max-width: 1280px;
            width: 90%;
    }
    label {
        float: right;
        text-align: right;
        width: 50%;
        height: auto;
    }
    .logo {
        margin-top: 6px;
        margin-left: 12px;
        width: 35%;
        height: auto;
    }
}

#botonLogin {
    background-color: #192c57
}

#botonLogin:hover {
    background-color: #2563f1
}

body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #00000073;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 0px 0px 0px 35px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #0d1eb8;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 35spx;
    margin-left: 50px;
}

#navblue {
    background-color: #192c57;
}