input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 2px solid #192c57;
}

input[type=password]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 2px solid #192c57;
}
.container {
    margin-top: 8%;
}
@media only screen and (min-width: 401px) and (max-width: 4000px) {
    .logo {
        margin-top: 7.5px;
        margin-left: 25px;
        width: 10%;
        height: auto;
    }
}
@media only screen and (min-width: 0px) and (max-width: 400px) {
    .container {
        margin-top: 15%;
    }
   .btn {
        margin-top: 5%;
        margin-left: 5%;
        margin-bottom: 10%;
    }
    .logo {
        margin-top: 5px;
        margin-left: 12px;
        width: 35%;
        height: auto;
    }
}
#btnRegistrar {
    background-color: #192c57
}

#btnRegistrar:hover {
    background-color: #2563f1
}
label{
    margin-right: 3%;
}
.sexo{
    display: none;
} 

#navblue {
    background-color: #192c57;
}